<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SchoolManagement"
			 connectionString="Server=localhost;Database=SchoolManagement;User Id=sa;Password=mamed2001"
									providerName="Microsoft.EntityFrameworkCore.SqlServer" />
	</connectionStrings>
</configuration>