<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/LookScoreAdmin/GameService/"
                binding="basicHttpBinding" bindingConfiguration="" contract="LookScoreAdmin.Service.IGameService"
                name="GameServiceEndpoint" kind="" endpointConfiguration="">
                <identity>
                    <dns value="localhost" />
                    <certificateReference storeName="My" storeLocation="LocalMachine"
                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60438/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="GameService.IService"
                name="GameServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>