<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<client>
   <endpoint address="http://localhost:9999/LookScoreServer.Service.WCFServices/ClubService/"
    binding="basicHttpBinding" bindingConfiguration="" contract="LookScoreServer.Service.WCFServices.IClubService"
    name="ClubService" kind="" endpointConfiguration="">
    <identity>
     <dns value="localhost" />
     <certificateReference storeName="My" storeLocation="LocalMachine"
      x509FindType="FindBySubjectDistinguishedName" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:9999/LookScoreServer.Service.WCFServices/GameService/"
    binding="basicHttpBinding" bindingConfiguration="" contract="LookScoreServer.Service.WCFServices.IGameService"
    name="GameService" kind="" endpointConfiguration="">
    <identity>
     <dns value="localhost" />
     <certificateReference storeName="My" storeLocation="LocalMachine"
      x509FindType="FindBySubjectDistinguishedName" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:9999/LookScoreServer.Service.WCFServices/StatisticService/"
    binding="basicHttpBinding" bindingConfiguration="" contract="LookScoreServer.Service.WCFServices.IStatisticService"
    name="StatisticService" kind="" endpointConfiguration="">
    <identity>
     <dns value="localhost" />
     <certificateReference storeName="My" storeLocation="LocalMachine"
      x509FindType="FindBySubjectDistinguishedName" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>